/* -- FONTS -- */

@font-face {
  font-family: "Gill Sans Shadow";
  src: url(../fonts/gill-shadow.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Lig.otf);
}

html, body {
	height: 100%;
}

/* -- <DIV> -- */

.container {
	width: 100%;
	padding: 0;
	height: 100%;
}

.navbar.container {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

.row {
	margin: 0;
}

/* -- <IMG> -- */

.row > div > img {
	width: 100%;
}

#cover-photo {
	background: url(../img/michelle.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container img {
  width: 100%;
}

/* -- <A> -- */

a.navbar-brand {
	font-family: "Gill Sans Shadow", Arial, sans-serif;
	font-size: 24px;
}

.navbar-default a.navbar-brand,
.navbar-default a.navbar-brand:hover,
.navbar-default a.navbar-brand:visited {
	color: #000;
}

.navbar-default ul.navbar-nav > li > a,
.navbar-default ul.navbar-nav > li > a:hover,
.navbar-default ul.navbar-nav > li > a:visited {
	font-family: "Lato";
	font-size: 16px;
	color: #000;
}

.navbar-default ul.navbar-nav > li.active > a,
.navbar-default ul.navbar-nav > li.active > a:hover,
.navbar-default ul.navbar-nav > li.active > a:visited {
	font-family: "Lato";
	font-size: 16px;
	color: #000;
	background-color: #fff;
}

/* -- <H1> -- */

h1 {
  font-family: "Gill Sans Shadow";
}

/* -- <P> -- */

p {
  font-family: "Lato";
}
